.editpbg{
    position: absolute;
    width: 600px;
    height: auto;
    top: 40%;
    left: 40%;
    margin: -100px 0 0 -150px;
   
    padding: 10px;
   
}
div.transbox {
    margin: 40px;
    background-color: whitesmoke;
    border: 1px solid black;
    opacity: 0.8;
  }
  
  div.transbox p {
    margin: 10%;
    font-weight: bold;
    color: #000000;
  }
  .btnedit{
    background-color: darkblue;
  color: white;
}
.Edit{
  color: black;
}