.navbarbg{
    float:right;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(187, 25, 25);
    width:100%;
    
    
}
h2{
    display: inline;
    text-decoration: red;
    font-size: 40px;
    color: white;        
}
.navpbg{
font-size: 25px;
float: left;
}
.rightbg{
    margin-right: 2%;
    float: right;
}

